/* common shared styles */
body{
    margin: 0;
    padding: 0;
    font-family: Open Sans;
}

.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    width: auto;
    height: 45px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    padding: 15px 35px;
    border: none;
    cursor: pointer;
}
/* header styles */
header{
    /* width: 100%;
    height: auto; */
    background-color: #FFF8F3;
    background-image: url('images/header_bg13.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* Navbar styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}
nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0px 150px;
    align-items: center;
}

.banner-content{
    max-width: 500px;
    height: auto;

}

.banner-greetings{
    font-size: 24px;
    margin-bottom: 0;
    color: #474747;
}

.banner-title{
    font-size: 45px;
    margin-top: 0;
}

.banner-pic{
    width: 500px;
    height: auto;
}

/* main section styles */

/* .main{
    width: 1140px;
    height: auto;
} */

.about{
    width: 800px;
    height: 288px;
    margin: 80px auto;
    background-color: #FFF8F3;
    padding: 80px;
    border-radius: 10px;

}

.about-title{
    text-align: center;
    margin-bottom: 30px;
}
.about-desc{
    text-align: center;
    margin-bottom: 30px;
}

.about > ul {
    display: flex;
    justify-content: space-evenly;
}

.about > ul li {
    list-style: none;
    text-align: center;
}

.about > ul > li > h5{
    margin-top: 0;
    font-size: 16px;
}